/* COMMOON CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
a{
    text-decoration: none;
}
ul, ol{
    list-style-type: none;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
:root{
    --cmn-font-family: "Poppins", sans-serif;
}
/* COMMOON CSS END */

body{
    font-family: var(--cmn-font-family);
}
/* =============== NAV CSS START ====================*/
nav ul li{
    padding: 18px 22px;
    font-weight: 500;
    font-size: 15px;
    line-height: 200%;
    color: #353535;
}
nav ul li a{
    padding: 0 !important;
    text-transform: uppercase;
}
/* =============== NAV CSS END ======================*/

/* =============== HERO CSS START ====================*/
#hero .container h4{
    font-weight: 400;
    font-size: 24px;
    color: #353535;
}
#hero .container h1{
    font-weight: 700;
    font-size: 64px;
    font-family: "PT Sans", sans-serif;
    color: #353535;
}
#hero .container p{
    font-weight: 400;
    font-size: 20px;
    line-height: 190%;
    color: #353535;
    padding-top: 10px;
}
#hero .container .btn-dwnd button:first-child{
    border-radius: 20px;
    padding: 16px 45px;
    border:1px solid  transparent ;
    background-color: #FFCC00;
    color: #FFFFFF;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
    margin-right: 40px;
}
#hero .container .btn-dwnd button:first-child:hover{
  background-color: transparent;
  border: 1px solid #000;
  color: #000;
}
#hero .container .btn-dwnd button:last-child{
    border-radius: 20px;
    padding: 16px 45px;
    border: none;
    background-color: transparent;
    color: #000 !important;
    display: inline-block;
    font-weight: 600;
    font-size: 20px;
    line-height: 180%;
    color: #fff;
    border: 1px solid #000;
 
}
#hero .container .btn-dwnd button:last-child:hover{
    background-color: #FFCC00;
    border: 1px solid transparent;
    color: #fff !important;
}
#hero .container .btn-dwnd{
    margin-top: 70px;
}
/* =============== HERO CSS END ======================*/


#timeline .title{                
    border-right: 1px dashed #7A7A7A;
    padding: 21px 90px 100px 0;
    position: relative;
}
#timeline .title p{
    font-weight: 500;
    font-size: 18px;
    line-height: 180%;
    color: #7a7a7a;
}
#timeline .contains h4{
    font-weight: 600;
font-size: 24px;
line-height: 180%;
color: #353535;
}
#timeline .contains p{
    font-weight: 400;
    font-size: 18px;
    line-height: 200%;
    color: #7a7a7a;
}
#timeline .title h4{
    font-weight: 600;
    font-size: 24px;
    line-height: 180%;
    color: #353535;
}
#timeline .title::after {
    content: "";
    position: absolute;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 1px dashed #7A7A7A;
    top: -25px;
    right: -21px;
    background-color: #fff;
}

#timeline .title::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -14px;
    right: -11px;
    background-color: #940707;
    z-index: 55;
}
#timeline .sub-timeline:nth-child(odd) .title::before {
    background-color: #179407;

}